* {box-sizing:border-box; font-family:arial; color:#555;}

.main-app {
  position: relative;
  height: 35rem;
}
.main-app .steps {
  margin-left: 3rem;
  margin-top: 5rem;
  position: absolute;
  width: 60%;
  height: 40%;
  border-radius: 5px;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0 1rem 0 black;
  transition: all 0.4s;
}
.main-app .steps p {
  font-weight: 500;
  margin:0 0 10px;
}
.main-app .steps button {
  background:red;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  border-radius: 0.3rem;
  border: 0;
  cursor: pointer; 
  position:absolute;
  bottom:30px;
}
.main-app .part-seven button {
  position:relative;
  bottom:0;
}
.main-app .steps input {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 15px;
  width:80%;
}
.main-app .part-one {
  top: 20%;
  left: 7%;
  z-index: 7;
}
.main-app .part-two {
  top: 21%;
  left: 8%;
  z-index: 6;
}
.main-app .part-three {
  top: 22%;
  left: 9%;
  z-index: 5;
}
.main-app .part-four {
  top: 23%;
  left: 10%;
  z-index: 4;
}
.main-app .part-five {
  top: 24%;
  left: 11%;
  z-index: 3;
}
.main-app .part-six {
  top: 25%;
  left: 12%;
  z-index: 2;
}
.main-app .part-seven {
  top: 26%;
  left: 13%;
  z-index: 1;
}
.main-app .part-eight {
  top: 27%;
  left: 14%;
  z-index: 0;
}


/* Calculator */

/* @media screen and (min-width: 500px) {
  .main-app .steps {width:60%;}
  
}

@media screen and (min-width: 900px) {
  .main-app .steps {width:70%; height:200px;}
  .main-app {float:left; width:50%;}
} */

@media screen and (min-width: 900px) {
  .carousel-item img{
    width: auto;
    height: 37rem;
    max-height: 37rem;
  }
  .main-app .steps {
    margin-left: 16rem;
    width: 40%;
    height: 40%;
  }
}
@media screen and (max-width: 900px) {
  .carousel-item img{
    width: 100%;
    height: 20rem;
    max-height: 20rem;
  }
  .carousel-item .tiny{
    width:50%
  }
  .carousel-item .medium{
    width:70%
  }
  .main-app .steps {
    margin-left: 1rem;
    width: 70%;
    height:60%;
  }
}
